.nav-communications{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.3);
    min-width:250px;
    color:#e2dede;
    border-right:1px solid rgba(255,255,255,0.3);
    overflow: hidden;
    resize: horizontal;
}

.workspace-header-section{
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-bottom:1px solid rgba(255,255,255,0.3);
    height:49px;
    padding: 0 8px 0 12px;
}

.workspace-header{
    line-height: 1.33;
    font-size:18px;
    font-weight: 900;
    padding:8px 3px;
    border-radius: 8px;
}

.arrow-down{
    font-size:11px;
    font-weight:0;
}

.header-btns-container,
.header-btn,
.comms-logo,
.comms-header-logo,
.direct-msg-icon{
    display: flex;
    align-items:center;
    justify-content: center;
}

.header-btn{
    width:36px;
    height:36px;
    border-radius: 8px;
}

.workspace-header:hover,
.header-btn:hover,
.comms-links:hover,
.add-channels:hover,
.comms-title:hover,
.comms-header-logo:hover,
.direct-msg-icon:hover,
.channels:hover,
.user:hover{
    background-color: rgba(255,255,255,0.1);
}

.nav-comms-content{
    display:flex;
    flex-direction: column;
    padding:8px;
}

.comms-links,
.comms-header,
.add-channels,
.channels,
.user{
    height:28px;
    line-height:28px;
    border-radius:6px;
    padding:0 10px 0 16px;
    display:flex;
    align-items:center;
    gap:10px;
    cursor:pointer;
}

.channels,
.user{
    padding-left:42px;
}

.comms-header{
    margin-top:20px;
    padding: 0 10px;
    gap:0;
    position:relative;
}

.comms-header-logo{
    width:28px;
    height:28px;
    font-size:13px;
    border-radius:6px;
}

.comms-title{
    padding:0 5px;
    border-radius:6px;
    box-sizing: border-box;
}

.direct-msg-icon{
    width:28px;
    height:28px;
    border-radius:6px;
    margin-left: 40px;
}

.users-container{
    overflow-y:auto;
    overflow-x: hidden;
    max-height:50vh;
}

.add-channels-modal{
    position: absolute;
    top: 25%;
    left: 12%;
    padding: 15px;
    border-radius: 15px;
    background-color:#23282d;
    z-index: 10000;
}

.add-channels-modal:hover{
    cursor: auto;
}

.add-channels-modal-content h2{
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.45);
}

.add-channels-modal-content input{
    margin-top: 10px;
    width: 97%;
}

.create-channel-button{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    border-radius: 10px;
}

.add-channels-button{
    display: flex;
    background-color: transparent;
    color:#e2dede;
    align-items:center;
    justify-content:space-between;    
    cursor: pointer;
    border-style: none;
    width: 100%;
    padding: 0;
    font-size: 1rem;
}
