.textbox-section{
    padding: 0 20px 24px 20px;
    background-color: #1a1d21;
}

.textbox-container{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    width:100%;
    border:1px solid #565856;
    border-radius:8px;
    background: rgb(55, 60, 68);
    color:#fff;
    padding:4px;
    box-sizing: border-box;
}

.input-text{
    line-height: 1.46668;
    font-size: 15px;
    max-height: calc(60vh - 80px);
    padding:8px 12px;
    border:none;
    outline:none;
    background:none;
    color:#fff;
}

.buttons-area{
    padding:4px;
    display:flex;
    gap:8px;
}

.textbtn{
    background:none;
    border:none;
    color:#c9c7c7;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:0.9rem;
    position:relative;
    border-radius:2px;
    width:24px;
    height:24px;
    padding:2px;
}

.textbtn:hover{
    background:#696969;
    color:#dcdbdb;
}

.textbtn-upper{
    color:#696969;
}

.textbox-lower-section{
    display:flex;
    align-items:center ;
    justify-content: space-between;
}

.confirm-btns{
    display:flex;
    gap:10px;
}

.line-divider{
    border:1px solid #696969;
}

.attachments-btn{
    border-radius:50%;
    background:#5d5b5b;
    width:24px;
    aspect-ratio: 1/1;
    display:flex;
    align-items:center ;
    justify-content: center;
    padding:0;
}

.formatting-btn::before{
    content:"";
    position: absolute;
    bottom:3px;
    background-color: #dcdbdb;
    height:1px;
    width:80%;
}

.shortcut-btn::before{
    content:"";
    position: absolute;
    width: 10px;
    height:1px;
    transform: rotate(-45deg);
    background-color:#dcdbdb;
}