.login-page-main-container {
    height: 100%;
    width: 100%;
    background:black;
    color: white;
    overflow: hidden;
}

.login-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form,
.signup-form{
    background-color: rgba(0, 0, 0, 0.568);
    width:400px;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius:12px;
    z-index: 10;
    position: absolute;
    top:calc(50% - 120px)
}

.signup-form{
    height:400px;
}

h1 {
    font-size: 200px;
    font-weight: 600;
    margin: 0;
    z-index: 11;
}

.signup-form h2,
.signup-form span{
    text-align: left;
    font-size: 25px;
    margin: 0;
    padding-left:20px;
    font-weight:600px;
}

.signup-form span{
    font-size:15px;
    margin-top:-10px;
}

.input-login,
.input-signup{
    padding:14px 16px;
    font-size: 17px;
    line-height:16px;
    border-radius:6px;
    background-color: rgba(255,255,255,0.6);
}

.input-login::placeholder,
.input-signup::placeholder{
    color:rgba(0,0,0,0.6);
}

.login-form-btn,
.signup-form-btn,
.swap-modal-btn{
    padding:0 16px;
    font-size:20px;
    line-height: 36px;
    border-radius:6px;
    color:white;
    background-color: #1877f2;
    border:none;
    cursor:pointer;
}

.swap-modal-btn{
    align-self: center;
    text-align: center;
    width:60%;
    background-color:#42b72a;
}

.form-divider{
    position:relative;
    z-index: 000000;
}

.signup-form .form-divider{
    margin: 10px 0;
}

.form-divider::after{
    content:"";
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    height:1px;
    background:white;
}