.login{
    height: 100vh;
    width: 100%;
    background:linear-gradient(45deg,rgb(108, 37, 37), rgb(27, 27, 110));
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
