.searchbox-section{
    width:100%;
    height:40px;
    background-color: rgb(40, 42, 45);
    display:flex;
    align-items:center;
    justify-content: center;
    gap:1%;
}

.searchbox-input-container{
    width:50%;
    position:relative;
}

.searchbox-icons{
    font-size:1.1rem;
    color:#fff;
}

.searchbox-input{
    height:26px;
    width:100%;
    padding: 0 8px;
    border-radius: 6px;
    box-sizing: border-box;
    border:none;
    outline:none;
}

.magnifying-glass{
    position:absolute;
    right:8px;
    top:50%;
    transform:translateY(-50%);
    font-size:0.9rem;
}